@font-face {
  font-family: "Raleway";
  src: url("../font/Raleway-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
  font-family: "Raleway", Arial, sans-serif;
}

body {
  font-size: 0.8em;
}

.container {
  padding: 0 30px;
  max-width: 990px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

section h2, footer h2 {
  font-size: 1.3em;
  padding-bottom: 15px;
}

button, 
.filtres, 
.nom, 
.more, 
.lieux_nom,
.tarif {
  font-weight: bold;
}

.star {
  padding-bottom: 2px;
  font-size: 0.7em;
  display: flex;
}

.blue {
  color: #0065fc;
}

.grey {
  color: #f2f2f2;
}

/* header */
header {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

header img {
  width: 80px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 9px;
}

nav, nav ul {
  display: flex;
}

nav a {
  padding: 30px 20px 0 20px;
}

.inscription a {
  font-weight: bold;
  color: #0065fc;
}

.ancre:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

.titre {
  margin: 20px 0 5px 0;
}

h1 {
  font-size: 1.3em;
  margin-top: 5px;
}

.titre p {
  margin-top: 5px;
}

/* div recherche */
form {
  display: flex;
}

.fa-map-marker-alt {
  background-color: #f2f2f2;
  border-radius: 12px 0 0 12px;
  padding: 10px 12px;
}

.search {
  border: 1px solid rgb(242, 242, 242);  
  border-right: none;
  border-left: none;
  padding: 7px 0 7px 7px;
}

.search::placeholder {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: bold;
  opacity: 1;
  font-size: 0.9em;
}

.btn {
  color: white;
  background-color: #0065fc;
  font-size: 0.9em;
  padding: 10px;
  border: none;
  border-radius: 0 12px 12px 0;
}

.btn_loupe {
  display: none;
}

.filtres {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 10px 0;
}

.filtres h2 {
  font-size: 1em;
  margin-right: 15px;
  padding: 8px 0;
}

.filtres_btn { 
  border: 1px solid rgb(209, 209, 209);
  border-left: none;
  border-radius: 16px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: none;
  font-size: 0.9em;
}

.filtres i {
  color: #0065fc;
  background-color: #deebff;
  padding: 9px;
  border-radius: 16px;
  font-size: 1.2em;
}

.filtres .fa-money-bill-wave {
  padding: 9px 7px;
}

.filtres .fa-child {
  padding: 9px 10px;
}

.filtres span {
  padding: 0 12px 0 6px;
}

.filtres_btn:hover {
  color: #0065fc;
  background-color: #deebff;
  border: 1px solid #0065fc;
  margin-left: -1px;
}

.fa-info {
  color: #0065fc;
  font-size: 0.8em;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 9px;
  padding: 3px 6px;
  margin-right: 8px; 
  float: left;
}

.recherche p {
  margin: 5px 0;
}

/* section 1 */
#hebergements {
  display: flex;
}

.bloc,
aside {
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-top: 20px;  
  padding: 27px 27px 0 27px;
}

.bloc_vignette,
.aside_vignette {
  background-color: white;
  padding: 3px;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgb(226, 226, 226);
}

.description {
  padding: 8px 8px 2px 8px;
}

.bloc {
  margin-right: 23px;
  padding-bottom: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2.4;
}

.bloc_ensemble_vignette {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bloc_vignette {
  margin-bottom: 18px;
  width: 31%;
  min-width: 170px;
}

.bloc_vignette_img {
  width: 100%;
  height: 85px;
  border-radius: 10px 10px 0 0;
}

.bloc_img_1 {
  background: url('../images/hebergements/auberge_cannebiere.jpg') center;  
  background-size: cover;
}

.bloc_img_2 {
  background: url('../images/hebergements/hotel_port.jpg') center;  
  background-size: cover;
}

.bloc_img_3 {
  background: url('../images/hebergements/hotel_mouettes.jpg') center;  
  background-size: cover;
}

.bloc_img_4 {
  background: url('../images/hebergements/hotel_mer.jpg') center;  
  background-size: cover;
}

.bloc_img_5 {
  background: url('../images/hebergements/auberge_panier.jpg') center;  
  background-size: cover;
}

.bloc_img_6 {
  background: url('../images/hebergements/hotel_amina.jpg') center;  
  background-size: cover;
}

.prix {
  font-size: 0.89em;
  padding: 4px 0 5px 0;
}

/* Aside */
aside {
  flex: 1;
}
.pop {
  display: flex;
  justify-content: space-between;
}

.fa-chart-line {
  font-size: 1.4em;
}

.aside_vignette {
  margin-bottom: 20px;
  display: flex;
  height: 110px;
}

.aside_vignette_img {
  height: 100%;
  width: 90px;
  border-radius: 10px 0 0 10px;
}

.aside_img_1 {
  background: url('../images/hebergements/hotel_soleil.jpg') center;  
  background-size: cover;
}

.aside_img_2 {
  background: url('../images/hebergements/chambres_eau.jpg') center;  
  background-size: cover;
}

.aside_img_3 {
  background: url('../images/hebergements/hotel_bleu_blanc.jpg') center;  
  background-size: cover;
}

aside .description {
  padding: 8px 0 5px 15px;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* section 2 */
#activites {
  margin: 40px 0;
}

.lieux {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lieux_vignette,
.lieux_petite_vignette {  
  border-radius: 10px;
  box-shadow: 0 3px 3px rgb(226, 226, 226);
}

.lieux_vignette,
.lieux_duo_vignette {
  height: 300px;
  width: 23%;
}

.lieux_grande_vignette,
.lieux_petite_img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}

.lieux_petite_vignette {
  height: 45%;
}

.lieux_petite_vig_1 {
  height: 54%;
}

.lieux_petite_vig_2 {
  height: 36%;
}

.lieux_duo_vignette {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lieux_img_1 {
  background: url('../images/activites/vieux_port.jpg') center;
  background-size: cover;
}

.lieux_img_2 {
  background: url('../images/activites/fort_pomegues.jpg') center;
  background-size: cover;
}

.lieux_img_3 {
  background: url('../images/activites/iles_frioul.jpg') center;
  background-size: cover;
}

.lieux_img_4 {
  background: url('../images/activites/calanques.jpg') center;
  background-size: cover;
}

.lieux_img_5 {
  background: url('../images/activites/notre_dame_garde.jpg') center;
  background-size: cover;
}

.lieux_img_6 {
  background: url('../images/activites/longchamps.jpg') center;
  background-size: cover;
}

.lieux_nom {
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  width: 100%;
}

/* footer */
footer {
  background-color: #f2f2f2;
  padding-top: 30px;
}

footer .container {
  display: flex;
}

.footer_rubrique {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 15px;
  margin-right: 20px;
}

footer h2 {
  font-size: 1em;
}

footer li {
  margin-bottom: 10px;
}

/* ------------------------------------- Responsive ------------------------------------- */

/* -- Tablette et écran pc -- */
@media all and (max-width: 940px) {
   .container {
    padding: 0 20px;
  }
 
  #hebergements {
    flex-direction: column-reverse;
  }

  .bloc {
    background-color: unset;
    margin: 0;
    padding: 10px 0;
  }

  .bloc_vignette_img {
    height: 100px;
  }
  
  aside {
    border-radius: 0;
    margin: 20px -20px;
    padding: 20px 20px 0 20px;
  }
  
  .aside_ensemble_vignette {
    display: flex;
    justify-content: space-between;
  }

  .aside_ensemble_vignette a {
    width: 31%;
  }

  .aside_vignette {
    flex-direction: column;
    height: 200px;
    width: 100%;
  }

  .aside_vignette_img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 55%;
  }

  aside .description {
    width: 100%;
    height: 45%;
    padding: 8px;
    padding-bottom: 2px;
  }
  
  #activites {
    margin: 20px 0;
  }

  .lieux {    
    margin: unset;
  }

  .lieux_vignette,
  .lieux_duo_vignette {
    height: 200px;
  }

  .lieux_vignette,
  .lieux_petite_vignette { 
    margin: 0;  
    margin-bottom: 20px;
  }

  .lieux_vignette {
    width: 29%;
  }

  .lieux_duo_vignette {
    width: 66%;
    flex-direction: row;
    justify-content: space-between;
  }

  .lieux_petite_vignette {
    width: 46%;   
    height: 100%;
  }
}

/* -- Smartphone -- */
@media all and (max-width: 480px) {

  header {
    flex-direction: column;
  }

  .navigation {
    padding-top: 0;
    flex-direction: column;
    align-items: unset;
    margin: 0 -20px;
  }

  .navigation p {
    padding-left: 20px;
  }

  .navigation img {
    position: absolute;
  }

  nav {
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  nav ul {
    width: 100%;
  }

  nav li {
    flex: 1;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 8px;
    border-bottom: 3px solid rgb(242, 242, 242);
  }

  nav li:hover {
    border-bottom: 3px solid #0065fc;
    padding-bottom: 8px;
  }

  .ancre:hover {
    border-top: none;
  }

  .inscription {
    margin-top: 15px;
  }

  .search {
    width: 100%;
  }

  .btn_search {
    display: none;
  }

  .btn_loupe {
    display: unset;
    border-radius: 12px;
    padding: 10px 12px;
    position: relative;
    left: -12px;
  }

  .bloc_ensemble_vignette {
    flex-direction: column;
    align-items: center;
  }

  .bloc_vignette {
    width: 100%;
  }

  .bloc_vignette_img {
    height: 150px;
  }

  .aside_ensemble_vignette {
    flex-direction: column;
  }
  
  .aside_ensemble_vignette a {
    width: 100%;
  }

  .aside_vignette {
    width: 100%;
    height: 110px;
    flex-direction: row;
  }

  .aside_vignette_img {
    height: 100%;
    width: 100px;
    border-radius: 10px 0 0 10px;
  }

  aside .description {
    padding: 8px 0 5px 15px;
    width: 65%;
    height: 100%;
  }

  .lieux {
    flex-direction: column;
  }

  .lieux_vignette,
  .lieux_duo_vignette {   
    height: unset;
    width: 100%;
  }

  .lieux_vignette,
  .lieux_petite_vignette { 
    height: 200px;    
  }

  .lieux_grande_vignette,
  .lieux_petite_vignette {
    width: 100%;
  }

  .lieux_duo_vignette {
    flex-direction: column;
  }

  footer .container {
    flex-direction: column;
  }
}