@font-face {
  font-family: "Raleway";
  src: url("font/Raleway-VariableFont_wght.ttf");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", Arial, sans-serif;
  width: 900px;
  margin: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header,
#recherche,
section {
  margin: 0 30px 0 30px;
}

h2 {
  margin: 0;
  font-size: 0.9em;
  padding-bottom: 15px;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
}

#titre {
  padding-top: 50px;
}

#titre img {
  width: 80px;
  height: 35px;
}

header h1 {
  font-size: 0.9em;
  padding-top: 14px;
}

header p {
  font-size: 0.6em;
  font-weight: normal;
}

nav {
  padding-top: 30px;
}

nav ul {
  display: flex;
}

nav a {
  padding: 30px 20px 0 20px;
  font-size: 0.8em;
}

.ancre {
  color: black;
}

#inscription a {
  font-weight: bold;
  color: #0065fc;
}

nav .ancre:hover {
  color: #0065fc;
  border-top: 1px solid #0065fc;
}

/* div recherche */
#recherche {
  margin-bottom: 23px;
}

form {
  margin: 5px 0 20px 0;
  display: flex;
}

form i {
  background-color: #f2f2f2;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 10px 12px 10px 12px;
  font-size: 13px;
}

#search {
  border-right: none;
  border-left: none;
  border-top: 1px solid rgb(242, 242, 242);
  border-bottom: 1px solid rgb(242, 242, 242);
  padding: 7px 0 7px 7px;
}
#search::placeholder {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: bold;
  opacity: 1;
  font-size: 0.8em;
}

button {
  color: white;
  background-color: #0065fc;
  font-weight: bold;
  font-size: 0.7em;
  padding: 8px;
  border: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

#filtres {
  display: flex;
}

#filtres,
#filtres h3 {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 0;
}

#filtres ul {
  display: flex;
  margin: 0;
}

#filtres li {
  border: 1px solid rgb(209, 209, 209);
  border-left: none;
  border-radius: 16px;
  margin-right: 15px;
}

#filtres a {
  color: black;
}

#filtres i {
  color: #0065fc;
  background-color: #deebff;
  padding: 8px;
  border-radius: 16px;
  font-size: 12px;
}

#filtres span {
  padding: 0 12px 0 6px;
}

#recherche .fa-info {
  color: #0065fc;
  font-size: 0.8em;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 9px;
  padding: 3px 6px 3px 6px;
  margin-right: 8px;
}

#recherche p {
  font-size: 0.6em;
  margin-top: 20px;
}

/* section 1 */
#hebergements {
  display: flex;
}

article,
aside {
  background-color: #f2f2f2;
  border-radius: 10px;
}

.vignette,
.vignette_pop {
  background-color: white;
  padding: 3px;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgb(226, 226, 226);
}

.description {
  padding-left: 8px;
}

article {
  margin-right: 23px;
  padding: 27px 23px 27px 23px;
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#ensemble_vignette {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.vignette {
  margin-bottom: 18px;
}

article img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 3px;
}

.nom,
.prix {
  color: black;
  margin: 0;
}

.nom {
  font-weight: bold;
  font-size: 10px;
}

.prix {
  font-size: 9px;
  padding: 3px 0 3px 0;
}

#more {
  font-weight: bold;
  font-size: 0.7em;
  margin: 0;
}

aside {
  padding: 27px 23px 0 23px;
}

#pop {
  display: flex;
  justify-content: space-between;
}

aside .vignette_pop {
  width: 212px;
  height: 89px;
  margin-bottom: 20px;
}

aside img {
  float: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 8px;
}

aside .description {
  padding-top: 8px;
  padding-bottom: 12px;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.star {
  margin: 0;
  font-size: 8px;
  padding-bottom: 2px;
}

.blue_star {
  color: #0065fc;
}

.grey_star {
  color: #f2f2f2;
}

/* section 2 */

#activites {
  margin: 37px 30px 37px 30px;
}

#lieux {
  display: flex;
  justify-content: space-between;
}

.grande_vignette,
.petite_vignette {
  border-radius: 10px;
  box-shadow: 0 3px 3px rgb(226, 226, 226);
}

#lieux img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#lieux p {
  color: black;
  font-weight: bold;
  font-size: 9px;
  padding: 8px 0 10px 10px;
  margin: 0;
}

.duo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* footer */
footer {
  display: flex;
  background-color: #f2f2f2;
  padding: 30px 30px 15px 30px;
}

footer div {
  width: 160px;
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  margin-right: 120px;
}

footer div h1 {
  font-size: 1em;
  margin: 0;
}

footer div ul {
  padding-left: 0;
}

footer li {
  padding-bottom: 5px;
}

footer div a {
  color: black;
}
