@font-face {
  font-family: "Raleway";
  src: url("font/Raleway-VariableFont_wght.ttf");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", Arial, sans-serif;
  width: 900px;
  margin: auto;
  font-size: 0.7em;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

header,
#recherche,
section {
  margin: 0 30px 0 30px;
}

h2 {
  margin: 0;
  font-size: 1.3em;
  padding-bottom: 15px;
}

.star {
  margin: 0;
  padding-bottom: 2px;
  font-size: 0.8em;
}

.blue_star {
  color: #0065fc;
}

.grey_star {
  color: #f2f2f2;
}

/* header */
header {
  display: flex;
  flex-direction: column;
}

header img {
  width: 70px;
  height: 30px;
}

#navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
}

#navigation a {
  padding: 30px 20px 0 20px;
}

#inscription a {
  font-weight: bold;
  color: #0065fc;
}

.ancre:hover,
.ancre2:hover {
  color: #0065fc;
  border-top: 1px solid #0065fc;
}

header h1 {
  font-size: 1.3em;
  margin-top: 5px;
}

#titre p {
  margin-top: 5px;
}

/* div recherche */
#recherche {
  margin-bottom: 23px;
}

form {
  margin: 5px 0 20px 0;
  display: flex;
}

.fa-map-marker-alt {
  background-color: #f2f2f2;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 10px 12px 10px 12px;
}

#search {
  border-right: none;
  border-left: none;
  border-top: 1px solid rgb(242, 242, 242);
  border-bottom: 1px solid rgb(242, 242, 242);
  padding: 7px 0 7px 7px;
}
#search::placeholder {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: bold;
  opacity: 1;
  font-size: 0.8em;
}

button {
  color: white;
  background-color: #0065fc;
  font-weight: bold;
  font-size: 1em;
  padding: 8px;
  border: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

#filtres {
  display: flex;
}

#filtres {
  font-weight: bold;
  margin-bottom: 0;
}

#filtres ul {
  display: flex;
  margin: 0;
}

#filtres li {
  border: 1px solid rgb(209, 209, 209);
  border-left: none;
  border-radius: 16px;
  margin: 0 15px 15px 0;
}

#filtres i {
  color: #0065fc;
  background-color: #deebff;
  padding: 8px;
  border-radius: 16px;
  font-size: 1.2em;
}

#filtres span {
  padding: 0 12px 0 6px;
}

#filtres li:hover {
  background-color: #deebff;
  border: 1px solid #0065fc;
}

#recherche .fa-info {
  color: #0065fc;
  font-size: 0.8em;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 9px;
  padding: 3px 6px 3px 6px;
  margin-right: 8px;
}

#recherche p {
  margin-top: 5px;
}

/* section 1 */
#hebergements {
  display: flex;
}

article,
aside {
  background-color: #f2f2f2;
  border-radius: 10px;
}

.vignette,
.vignette_pop {
  background-color: white;
  padding: 3px;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgb(226, 226, 226);
}

.description {
  padding-left: 8px;
}

article {
  margin-right: 23px;
  padding: 27px 23px 27px 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2.3;
}

#ensemble_vignette {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.vignette {
  margin-bottom: 18px;
  width: 30%;
}

article img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 3px;
  max-width: 100%;
}

.nom,
.prix,
#more {
  margin: 0;
}

.nom {
  font-weight: bold;
}

.prix {
  font-size: 0.9em;
  padding: 3px 0 3px 0;
}

#more {
  font-weight: bold;
}

aside {
  padding: 27px 23px 0 23px;
  flex: 1;
}

#pop {
  display: flex;
  justify-content: space-between;
}

.fa-chart-line {
  font-size: 1.2em;
}

.vignette_pop {
  margin-bottom: 20px;
  height: 90px;
}

aside img {
  float: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 8px;
  height: 100%;
}

aside .description {
  padding-top: 8px;
  padding-bottom: 12px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* section 2 */

#activites {
  margin: 37px 30px 37px 30px;
}

#lieux {
  display: flex;
  justify-content: space-between;
}

.grande_vignette,
.petite_vignette {
  border-radius: 10px;
  box-shadow: 0 3px 3px rgb(226, 226, 226);
}

.grande_vignette,
.duo {
  flex: 1;
}

.duo {
  display: flex;
  flex-direction: column;
}

#lieux img {
  border-radius: 10px;
  max-width: 100%;
}

.grande_vignette,
.petite_vignette {
  position: relative;
}

.nom_lieu {
  font-weight: bold;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 8px 0 10px 10px;
  margin: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#port {
  margin-right: 28px;
}

#calanques {
  margin: 0 28px 0 28px;
}

#fort,
#dame {
  margin-bottom: 28px;
}

/* footer */
footer {
  display: flex;
  background-color: #f2f2f2;
  padding: 30px 30px 0 30px;
}

footer div {
  width: 160px;
  display: flex;
  flex-direction: column;
  margin-right: 120px;
  padding-bottom: 15px;
}

footer div h1 {
  font-size: 1em;
  margin: 0;
}

footer div ul {
  padding-left: 0;
}

footer li {
  padding-bottom: 5px;
}

/* ------------------------------------- Responsive ------------------------------------- */
/*  -- Smartphone -- */

@media all and (max-device-width: 480px) {
  body {
    width: auto;
  }

  header,
  #recherche,
  #activites,
  section {
    margin: 0;
  }

  #titre,
  #recherche,
  #activites,
  footer {
    padding: 0 20px 0 20px;
  }

  /* header smartphone */

  header {
    flex-direction: column;
    margin-bottom: 10px;
  }

  #navigation {
    padding-top: 0;
    flex-direction: column;
  }

  #navigation p {
    padding: 6px 0 0 20px;
  }

  #navigation img {
    position: absolute;
  }

  nav {
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    position: relative;
    top: -30px;
  }

  #navigation a {
    padding: 0;
  }

  #navigation .ancre {
    padding: 30px 27px 8px 27px;
  }

  #navigation .ancre2 {
    padding: 30px 43px 8px 43px;
  }

  .ancre,
  .ancre2 {
    border-bottom: 3px solid rgb(242, 242, 242);
  }

  .ancre:hover,
  .ancre2:hover {
    border-bottom: 3px solid #0065fc;
    border-top: none;
  }

  #inscription a {
    padding-right: 20px;
  }

  /* div recherche smartphone */

  #grand_ecran {
    display: none;
  }

  #smartphone {
    border-radius: 12px;
    padding: 10px 11px 10px 11px;
    position: relative;
    left: -12px;
  }

  #filtres {
    flex-direction: column;
  }

  #filtres h3 {
    padding-bottom: 10px;
    margin: 0;
  }

  #filtres ul {
    flex-wrap: wrap;
    padding-left: 0;
  }

  #filtres li {
    margin: 0 8px 8px 0;
  }

  .fa-info {
    float: left;
  }

  #recherche p {
    margin: 10px 0 20px 0;
  }

  /* section 1 smartphone */

  #hebergements {
    flex-direction: column-reverse;
  }

  article {
    background-color: transparent;
    margin: 0;
  }

  #ensemble_vignette {
    flex-direction: column;
  }

  .vignette {
    width: 100%;
  }

  aside {
    border-radius: 0;
  }

  /* section 2 smartphone */

  #activites {
    margin-bottom: 14px;
  }

  #lieux {
    flex-direction: column;
  }

  .grande_vignette,
  .petite_vignette,
  #port,
  #fort,
  #calanques,
  #dame {
    margin: 0 0 20px 0;
  }

  /* footer smartphone */

  footer {
    flex-direction: column;
    padding-top: 30px;
  }
}

/* -- Tablette -- */

@media all and (min-device-width: 481px) and (max-width: 991px) {
  body {
    width: auto;
  }

  #filtres ul {
    flex-wrap: wrap;
  }

  /* article tablette */

  article {
    margin: 20px 0 0 0;
  }

  #hebergements {
    flex-direction: column-reverse;
  }

  .vignette {
    width: 45%;
    margin: 0 auto 20px auto;
  }

  /* aside tablette */

  aside {
    padding-bottom: 23px;
  }

  #ensemble_vignette_pop {
    display: flex;
  }

  .vignette_pop {
    width: 30%;
    height: 70%;
    margin: auto;
  }

  aside img {
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  aside .description {
    height: 80px;
  }
}

/* -- Tablette et écran pc -- */

@media all and (min-device-width: 481px) {
  #smartphone {
    display: none;
  }
}
